<!-- About Section -->
<section id="about">
    <div class="container">

        <h2 class="section-heading" style="text-align: center;"><b>About Us</b></h2>
        <br>
        <p class="text-muted large">
            The Rotaract Club NITK is one of the exclusive clubs of our institution but at the same time the only
            non-technical club by nature. The club is a subsidiary of Rotary International and runs by the same
            governing principles and vision as Rotary. The club has been an active part of the college with its events
            being some of the most attended and sought after. Rotaract Club has imbibed into itself a nature of caring
            for the world and the people around and that is an image that we intend to carry on for all times forth. 
            The Rotaract Club of NITK is a club which seeks to make this world a better place, the vision being to
            transform the world and people around us by caring for those who don’t have as much as we do and by raising
            awareness about issues that people should know about. The Rotaract Club seeks to look out for those for whom
            there is no one to look out for, to lend a helping hand to those whom no one otherwise would even turn back
            and look at. The Rotaract Club aims to nurture a spirit of sharing and caring amongst people by exposing
            them to and giving them opportunities to help out and in some small way impact the life of underprivileged
            people. The main driving force behind the initiatives, actions and events of the club is to contribute to a
            greater cause and be the cause for a difference in the world and as the Rotaract Moto says: “Be the change”
            and that is precisely what we envision ourselves to be. 
        </p>
        <br><br>

    </div>
</section>