<section id="portfolio">
    <div class="container">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">Events and Projects</h2>
            <h3 class="section-subheading text-muted">
                To make a difference in this world.
            </h3>
        </div>
        <div class="row">
            <% events.forEach(event => { %>

            <div class="col-md-4 col-sm-6 portfolio-item">
                <a
                    href="/events/<%= event.id %>"
                    class="portfolio-link"
                    data-toggle="modal"
                >
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img
                        src="<%= event.thumbnail %> "
                        class="img-responsive img-square portfolio-img"
                        alt=""
                    />
                </a>

                <div class="portfolio-caption">
                    <h4 style="font-weight: 700"><%= event.title%></h4>
                    <!-- TODO: FIX THIS CENTERING OF SUBTITILE -->
                    <!-- <p class="text-muted portfolio-grid-subtitle">Speak Up</p> -->
                </div>
            </div>
            <% }) %>
        </div>
    </div>
</section>
