<!-- Navigation -->

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container" style="display:block">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- <a class="navbar-brand page-scroll" href="#page-top">Rotaract Club NITK Chapter</a> -->
                <img src="https://res.cloudinary.com/djlnz87ow/image/upload/v1642563399/rotoWebsite/RotoLogoPink_m0wyrk.png" class="page-scroll" style="align-content: ke;" width="297" height="90">
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
                
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-pills navbar-right " style="margin-top: 10px;">
                    <li class="hidden active">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Events & Projects</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="https://rotaractnitk.wordpress.com/">Blog</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#carousel">Gallery</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#team">Team</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="https://forms.gle/V9KX3jwmoUfBFnhP7">Register</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">Rotaract Club NITK Chapter</div>
                <br><br><br>
            </div>
        </div>
    </header>
    
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->
<script>
    $('.collapse:not(.show)').prop('checked', false);document.querySelector("#uniqueId").style.removeProperty("display");
</script>
